[submodule "src/external/volk"]
	path = src/external/volk
	url = https://github.com/zeux/volk.git
[submodule "src/external/box2d"]
	path = src/external/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "src/std"]
	path = src/std
	url = https://github.com/Tellcode1/nvstd.git
[submodule "src/external/clay"]
	path = src/external/clay
	url = https://github.com/nicbarker/clay
[submodule "src/external/glslang"]
	path = src/external/glslang
	url = https://github.com/KhronosGroup/glslang.git
